.searchContainer {
  display: flex;
  width: 648px;
  max-width: 100%;
  border-radius: 100px;
  background: #fff;
  align-items: center;
  margin: 0 auto;
}

.inputWrapper {
  flex: 1;
  display: flex;
  align-items: center;
  border-radius: 100px;
  background: #fff;
  border: 1px solid #d1d2d6;
  padding-left: 16px;
}

.searchInput {
  flex: 1;
  border: none;
  outline: none; /* Fixes cursor visibility issue */
  color: #333; /* Improve contrast for readability */
  font-weight: 400; /* Regular font weight */
  font-size: 16px;
  line-height: 1; /* Set line-height for readability */
  padding: 12px 0;
}

.searchInput::placeholder {
  color: #b6bcbf;
  font-style: italic; /* Subtle styling for placeholder */
}

.searchButton {
  border-radius: 100px;
  background: #2f71e5;
  color: #fff;
  font-weight: 500; /* Medium font weight */
  font-size: 16px;
  line-height: 1;
  padding: 14px 35px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-left: 8px; /* Adds spacing between input and button */
}

.searchButton:hover {
  background-color: #174cbd; /* Darker shade for hover */
  transform: scale(1.05); /* Subtle zoom effect */
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}




/* Responsive Styles */
@media (max-width: 576px) {
  .searchContainer {
    flex-direction: column; /* Stack input and button vertically */
    align-items: stretch;
    background-color: transparent;
    border: none;
  }

  .inputWrapper {
    border-radius: 100px;
    padding-left: 12px;
  }

  .searchInput {
    padding: 12px 0;
    width: 100%;
    border-radius: 20px;
  }

  .searchButton {
    margin-left: 0;
    margin-top: 8px; /* Space between input and button */
    padding: 15px;
    width: 100%; /* Ensure the button takes the full width */
    text-align: center;
  }
}
@media (max-width: 991px) {

  .searchButton {
    padding: 15px 35px;
    font-size: 14px;
  }
}


