body {
    margin: 0 auto; 
    background: #fff;
    padding: 0 16px; 
    overflow-x: hidden; 
    max-width: 1200px; 
    box-sizing: border-box; 
    font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


